/*** GLOBALS ***/

:root {
  --dark: #1f2109;
  --light: #595b46;
  --white: #ffffff;
  --black: #000000;
}

body {
  background-color: var(--white);
}

h1 {
  color: var(--white);
  font-family: semplicitapro, sans-serif;
  font-weight: 500;
  font-style: normal;
}

h2 {
  color: var(--white);
  font-family: grad, serif;
  font-weight: 700;
  font-style: normal;
}

p {
  color: var(--black);
  font-family: semplicitapro, sans-serif;
  font-weight: 300;
  font-style: normal;
}

#splash p {
  color: var(--white);
  font-family: semplicitapro, sans-serif;
  font-weight: 300;
  font-style: normal;
}

a {
  color: var(--white);
  font-family: semplicitapro, sans-serif;
  font-weight: 300;
  font-style: normal;
}

#burgermenu {
  color: var(--white);
}

button {
  background-color: var(--dark);
  color: var(--white);
}

#separation_bar {
  height: 2vh;
  width: 100vw;
  background-color: var(--dark);
}

section {
  width: 100vw;
}

img {
  max-width: 50%;
}

/***************************************/
/***            HEADER               ***/
/***************************************/

#contact_bar {
  background-color: var(--dark);
  position: sticky;
}

/***************************************/
/***            HEADER SLUT          ***/
/***************************************/

/***************************************/
/***              MAIN               ***/
/***************************************/

#splash {
  background-image: url("images/frontpage.jpg");
  width: 100vw;
  height: 100%;
}

#column {
  background-color: var(--dark);
  width: 100vw;
}

#contact h2,
#contact a {
  color: var(--black);
}

/***************************************/
/***           MAIN SLUT             ***/
/***************************************/

/***************************************/
/***            FOOTER               ***/
/***************************************/

footer {
  background-color: var(--dark);
  position: absolute;
  width: 100vw;
}

/***************************************/
/***            FOOTER SLUT          ***/
/***************************************/
