:root {
  --dark: #1f2109;
  --light: #595b46;
  --white: #ffffff;
  --black: #000000;
  --h1: 5vw;
  --h2: 4vw;
  --p: 3.5vw;
  --a: 2.5vw;
  --button: 3vw;
}

/***************************************/
/***           FONT SIZES            ***/
/***************************************/

h1 {
  color: var(--black);
  font-family: grad, serif;
  font-weight: 700;
  font-style: normal;
  font-size: var(--h1);
}

h3 {
  color: var(--white);
  font-family: grad, serif;
  font-weight: 700;
  font-style: normal;
}

p {
  color: var(--black);
  font-family: semplicitapro, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: var(--p);
}

a {
  color: var(--white);
  font-family: semplicitapro, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: var(--a);
}

button {
  background-color: var(--dark);
  color: var(--white);
  font-family: grad, serif;
  font-weight: 700;
  font-style: normal;
  font-size: var(--button);
}

/***************************************/
/***          FONT SIZES SLUT          */
/***************************************/

body {
  background-color: var(--white);
  background-size: cover;
}

#separation_bar {
  height: 2vh;
  width: 100vw;
  background-color: var(--dark);
}

section {
  width: 100vw;
  height: auto;
}

#project {
  background-color: var(--white);
}

#project h1,
#project p {
  color: var(--black);
}

img {
  max-width: 50%;
}

/***************************************/
/***            HEADER               ***/
/***************************************/

#contact_bar {
  background-color: var(--dark);
  position: sticky;
  display: flex;
  justify-content: space-between;
}

#contact_bar img {
  position: relative;
  width: 5vw;
  height: auto;
}

#contact_bar #contact_info {
  font-size: 2.5vw;
}

/***burgermenu***/
.menu_toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: var(--white);
}

/*_____________*/

.nav_menu {
  display: grid;
  grid-template-columns: auto;
  background: var(--matteblue);
  margin: 0;
  /* position: absolute; */
  top: 80px;
  left: -100%;
  display: none;
  transition: all 0.5s ease;
}

.nav_menu.active {
  background: var(--light);
  left: 0;
  transition: all 0.5s ease;
}

.nav_links {
  text-align: center;
  line-height: 60px;
  width: 100%;
  display: table;
}

.nav_links:hover {
  background-color: var(--matteblue);
  color: var(--white);
  transition: all 0.4s ease-out;
}

#navbar {
  width: 100%;
  display: flex;
  justify-content: center;
}

#burger_menu {
  position: absolute;
  top: 7%;
  right: 7%;
  transform: translate(5%, 20%);
  z-index: 1;
  color: var(--white);
}

.menu_toggle .bar {
  display: block;
  cursor: pointer;
}

.menu_toggle:hover {
  cursor: pointer;
}

#burger_menu.is-active .bar:nth-child(2) {
  display: none;
}

#burger_menu.is-active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

#burger_menu.is-active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/***************************************/
/***            HEADER SLUT          ***/
/***************************************/

/***************************************/
/***            FOOTER               ***/
/***************************************/

footer {
  background-color: var(--dark);
  /* position: absolute; */
  width: 100vw;
}

/***************************************/
/***            FOOTER SLUT          ***/
/***************************************/

/***************************************/
/***              FRONTPAGE          ***/
/***************************************/

#frontpage {
  z-index: -5;
}

#frontpage #splash {
  background-image: url("images/frontpage.jpg");
  /* position: absolute; */
  width: 100%;
  height: 100%;
  background-size: cover;
}

#frontpage #splash_text p {
  color: var(--white);
  font-family: semplicitapro, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 5vw;
}

#frontpage #column h1 {
  color: var(--white);
}

#frontpage #column {
  background-color: var(--dark);
  width: 100vw;
}

#frontpage #contact h2,
#contact a {
  color: var(--black);
}

/***************************************/
/***           FRONTPAGE SLUT        ***/
/***************************************/

/***************************************/
/***       PORTFOLIO MENU            ***/
/***************************************/

#portfolio_menu .nav_menu.active {
  background: var(--dark);
}

#portfolio_menu {
  background-color: var(--light);
}

/***************************************/
/***       PORTFOLIO MENU SLUT       ***/
/***************************************/

/***************************************/
/***         WEBSITES PAGE           ***/
/***************************************/

#websites #splash {
  background-image: url("images/splash_web.jpg");
  /* position: absolute; */
  width: 100%;
  height: 100%;
  background-size: cover;
}

#websites #splash_text {
  background-color: var(--dark);
  opacity: 75%;
}
/***************************************/
/***        WEBSITES PAGE SLUT       ***/
/***************************************/

/***************************************/
/***         GRAPHIC WORK PAGE       ***/
/***************************************/

#graphic_work #splash {
  background-image: url("images/splash_graphic.jpg");
  /* position: absolute; */
  width: 100%;
  height: 100%;
  background-size: cover;
}

#graphic_work #splash_text {
  background-color: var(--dark);
  opacity: 75%;
}

/***************************************/
/***        GRAPHIC WORK SLUT        ***/
/***************************************/

/***************************************/
/***            PHOTOGRAPHY PAGE       */
/***************************************/

#photography #splash {
  background-image: url("images/splash_photo.jpg");
  /* position: absolute; */
  width: 100%;
  height: 100%;
  background-size: cover;
}

#photography #splash_text {
  background-color: var(--dark);
  opacity: 75%;
}

/***************************************/
/***        PHOTOGRAPHY SLUT         ***/
/***************************************/

/***************************************/
/***            OTHER PAGE           ***/
/***************************************/

#other #splash {
  background-image: url("images/splash_other.jpg");
  /* position: absolute; */
  width: 100%;
  height: 100%;
  background-size: cover;
}

#other #splash_text {
  background-color: var(--dark);
  opacity: 75%;
}

/***************************************/
/***        OTHER PAGE SLUT          ***/
/***************************************/
