:root {
  --dark: #1f2109;
  --light: #595b46;
  --white: #ffffff;
  --black: #000000;
  --h1: 5vw;
  --h2: 4vw;
  --p: 3.5vw;
  --a: 2.5vw;
  --button: 3.5vw;
  --footer_a: 3.5vw;
}

/***************************************/
/***           FONT STYLE            ***/
/***************************************/

h1 {
  color: var(--black);
  font-family: grad, serif;
  font-weight: 700;
  font-style: normal;
  font-size: var(--h1);
}

h2 {
  color: var(--white);
  font-family: grad, serif;
  font-weight: 700;
  font-style: normal;
  font-size: var(--h2);
}

p {
  color: var(--black);
  font-family: semplicitapro, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: var(--p);
}

a {
  color: var(--white);
  font-family: semplicitapro, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: var(--a);
  text-decoration: none;
}

button {
  background-color: var(--dark);
  color: var(--white);
  font-family: grad, serif;
  font-weight: 700;
  font-style: normal;
  font-size: var(--button);
  height: 5vh;
  place-items: center;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

/***************************************/
/***          FONT STYLE SLUT*         */
/***************************************/

body {
  background-color: var(--white);
  background-size: cover;
  margin: 0;
}

#separation_bar {
  height: 2vh;
  width: 100vw;
  background-color: var(--dark);
}

section {
  padding-left: 5vw;
  padding-right: 5vw;
}

#project {
  background-color: var(--white);
  margin-top: 5vh;
  margin-bottom: 5vh;
}

#project h1,
#project p {
  color: var(--black);
}

#project_image {
  margin-top: 5vh;
  margin-bottom: 5vh;
  box-shadow: 2vw -1vh #1f2109;
}

#project_image img {
  max-width: 100%;
}

img {
  width: 50%;
}

#splash {
  width: auto;
  height: 80vh;
  background-size: cover;
  background-position: 65%;
}

#splash_text .text {
  color: var(--white);
}

#arrow {
  width: 6vw;
  margin-left: 2vw;
}

#download {
  width: 3vw;
  margin-left: 2vw;
}

button:hover {
  background: var(--light);
}

a:hover {
  color: var(--light);
}

/***************************************/
/***            HEADER               ***/
/***************************************/

#contact_bar {
  background-color: var(--dark);
  position: sticky;
  display: flex;
  justify-content: space-between;
}

#contact_bar img {
  position: relative;
  width: 7vw;
  height: auto;
  margin: 1vw;
}

/* #contact_bar #some_contact_bar {
  margin-left: 2vw;
}

#contact_bar #info_contact_bar {
  margin-right: 2vw;
} */

#splash_logo {
  width: 30vw;
  top: 8vh;
  position: absolute;
}

/***burgermenu***/
.menu_toggle .bar {
  width: 7vw;
  height: 3px;
  margin: 0.8vh auto;
  transition: all 0.3s ease-in-out;
  background: var(--white);
  display: block;
  cursor: pointer;
}

.nav_menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  /* padding-top: 15vh; */
}

.nav_menu #burgermenu_logo {
  display: flex;
  justify-content: center;
}

.nav_menu #burgermenu_options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav_menu #some_burgermenu {
  display: flex;
  flex-direction: row;
}

.nav_menu #some_burgermenu img {
  width: 14vw;
}

.nav_menu.active {
  background: var(--light);
  right: 0;
  /*   transition: all 0.5s ease; */
  opacity: 100;
  width: 50vw;
}

#navbar {
  width: 100%;
  display: flex;
  justify-content: center;
}

#burger_menu {
  position: absolute;
  top: 7vh;
  right: 6vw;
  transform: translate(5%, 20%);
  z-index: 1;
  color: var(--white);
}

.menu_toggle:hover {
  cursor: pointer;
}

#burger_menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#burger_menu.is-active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

#burger_menu.is-active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/***************************************/
/***            HEADER SLUT          ***/
/***************************************/

/***************************************/
/***            FOOTER               ***/
/***************************************/

footer {
  background-color: var(--dark);
  /* position: absolute; */
  padding-top: 5vh;
  padding-bottom: 5vh;
}

footer a,
footer h1 {
  font-size: var(--footer_a);
  color: var(--white);
}

footer #contact_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer_logo_box {
  display: flex;
  justify-content: center;
  margin-top: 4vh;
  margin-bottom: 2vh;
}

footer #footer_logo {
  width: 40vw;
  place-self: center;
}

footer #some_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer #some_footer #footer_icons {
  display: flex;
  flex-direction: row;
}

footer #some_footer #footer_icons a {
  text-align: center;
}

footer #some_footer img {
  width: 10vw;
  margin-left: 1vw;
  margin-right: 1vw;
}
/***************************************/
/***            FOOTER SLUT          ***/
/***************************************/

/***************************************/
/***              FRONTPAGE          ***/
/***************************************/

#frontpage {
  z-index: -5;
  position: cover;
}

#frontpage #splash {
  background-image: url("images/frontpage.jpg");
  display: flex;
  flex-direction: column;
}

#frontpage #splash_text {
  position: relative;
  top: 50vh;
  left: 0vw;
}

#frontpage #splash_text p {
  color: var(--white);
  font-family: semplicitapro, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 5vw;
}

#frontpage #about_image {
  width: 45vw;
  float: right;
  margin: 1vw;
}

#frontpage #column h1 {
  color: var(--white);
}

#frontpage #column {
  background-color: var(--dark);
  padding: 3vw;
  margin-top: 5vh;
}

#frontpage #resume #top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#frontpage #resume p {
  color: var(--white);
}

#frontpage #contact {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#frontpage #contact h2,
#contact a {
  color: var(--black);
}

#frontpage #contact a {
  font-size: var(--footer_a);
}

#contact #contact_info {
  display: flex;
  flex-direction: column;
}

#contact #phone,
#contact #mail {
  display: flex;
  flex-direction: row;
}

#contact #phone img,
#contact #mail img {
  width: 5vw;
  margin-right: 1vw;
}

#frontpage #contact_some {
  display: flex;
  flex-direction: row;
}

#frontpage #contact_some a {
  text-align: left;
}

#frontpage #contact_some img {
  width: 8vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

#contact #contact_image {
  margin-left: 5vw;
  width: 40vw;
}

#about,
#resume,
#contact {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

/***************************************/
/***           FRONTPAGE SLUT        ***/
/***************************************/

/***************************************/
/***       PORTFOLIO MENU            ***/
/***************************************/

#portfolio {
  background-color: var(--light);
}

#portfolio #splash {
  height: 12vh;
}

#portfolio_menu .nav_menu.active {
  background: var(--dark);
}

#portfolio h1 {
  color: var(--white);
}

#portfolio #options {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 10vw;
  margin-bottom: 5vh;
  margin-top: 3vh;
}

#portfolio #option_box {
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  min-height: 30vh;
  align-items: center;
  padding: 10px;
  box-shadow: 2vw -1vh #1f21099c;
}

/***************************************/
/***       PORTFOLIO MENU SLUT       ***/
/***************************************/

/***************************************/
/***         WEBSITES PAGE           ***/
/***************************************/

#websites {
  z-index: -5;
  position: cover;
}

#websites #splash {
  background-image: url("images/splash_web.jpg");
  background-position: 50%;
}

#websites #splash_text {
  background-color: var(--dark);
  opacity: 75%;
  position: relative;
  top: 20vh;
  left: 0vw;
  max-width: 50%;
  padding: 2vh;
}

#websites #project img {
  width: 100%;
}

/***************************************/
/***        WEBSITES PAGE SLUT       ***/
/***************************************/

/***************************************/
/***         GRAPHIC WORK PAGE       ***/
/***************************************/

#graphic_work {
  z-index: -5;
}

#graphic_work #splash {
  background-image: url("images/splash_graphic.jpg");
  width: auto;
  height: 80vh;
  background-size: cover;
  background-position: 85%;
}

#graphic_work #splash_text {
  background-color: var(--dark);
  opacity: 75%;
  position: relative;
  top: 20vh;
  left: 0vw;
  max-width: 50%;
  padding: 2vh;
}

/***************************************/
/***        GRAPHIC WORK SLUT        ***/
/***************************************/

/***************************************/
/***            PHOTOGRAPHY PAGE       */
/***************************************/

#photography {
  z-index: -5;
}

#photography #splash {
  background-image: url("images/splash_photo.jpg");
  width: auto;
  height: 80vh;
  background-size: cover;
  background-position: 40%;
}

#photography #splash_text {
  background-color: var(--dark);
  opacity: 75%;
  position: relative;
  top: 20vh;
  left: 0vw;
  max-width: 50%;
  padding: 2vh;
}

/***************************************/
/***        PHOTOGRAPHY SLUT         ***/
/***************************************/

/***************************************/
/***            OTHER PAGE           ***/
/***************************************/

#other {
  z-index: -5;
}

#other #splash {
  background-image: url("images/splash_other.jpg");
  background-position: 70%;
}

#other #splash_text {
  background-color: var(--dark);
  opacity: 75%;
  position: relative;
  top: 20vh;
  left: 0vw;
  max-width: 50%;
  padding: 2vh;
}

#other #project img {
  width: 100%;
}

/***************************************/
/***        OTHER PAGE SLUT          ***/
/***************************************/

/****************************************************************MEDIA Q*********************************************************/

#photography #project .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
#photography #project .column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

#photography #project .column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  #photography #project .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  #photography #project .column {
    flex: 100%;
    max-width: 100%;
  }
}

/*Tablet*/
/* @media screen and (min-width: 768px) {
  #resume_columns {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    grid-gap: 5vw;
  }
} */
