:root {
  --dark: #1f2109;
  --light: #595b46;
  --white: #ffffff;
  --black: #000000;
  --darkopacity: #1f2109a9;
  --h1: 1.2rem;
  --h2: 1rem;
  --p: 0.8rem;
  --a: 0.8rem;
  --button: 1rem;
  --footer_a: 0.8rem;
  /*****************/
  --h1_700px: 2em;
  --h2_700px: 1.4em;
  --button_700px: 1.4em;
  --p_700px: 1.2em;
  --a_700px: 1.2em;
  --footer_a_700px: 1em;
  /*****************/
  --h1_1200px: 1.5em;
  --h2_1200px: 1.1em;
  --button_1200px: 1em;
  --p_1200px: 0.8em;
  --a_1200px: 0.8em;
  --footer_a_1200px: 0.8em;
  --splash_text_1200px: 2.5em;
  --splash_button_1200px: 1.6em;
}

/***************************************/
/***           FONT STYLE            ***/
/***************************************/

h1 {
  color: var(--black);
  font-family: grad, serif;
  font-weight: 700;
  font-style: normal;
  font-size: var(--h1);
}

h2 {
  color: var(--white);
  font-family: grad, serif;
  font-weight: 700;
  font-style: normal;
  font-size: var(--h2);
}

p {
  color: var(--black);
  font-family: semplicitapro, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: var(--p);
}

a {
  color: var(--white);
  font-family: semplicitapro, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: var(--a);
  text-decoration: none;
}

button {
  background-color: var(--dark);
  color: var(--white);
  font-family: grad, serif;
  font-weight: 700;
  font-style: normal;
  font-size: var(--button);
  height: auto;
  padding: 2vw;
  place-items: center;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/***************************************/
/***          FONT STYLE SLUT*         */
/***************************************/

body {
  background-color: var(--white);
  background-size: cover;
  margin: 0;
}

#separation_bar {
  height: 2vh;
  width: 100vw;
  background-color: var(--dark);
}

section {
  padding-left: 5vw;
  padding-right: 5vw;
}

#project {
  background-color: var(--white);
  margin-top: 5vh;
  margin-bottom: 5vh;
}

#project h1,
#project p {
  color: var(--black);
}

#project_image {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

#project_image img {
  max-width: 100%;
}

img {
  width: 50%;
}

#splash {
  width: auto;
  height: 90vh;
  background-size: cover;
}

#splash_text .text {
  color: var(--white);
}

#arrow {
  width: 6vw;
  margin-left: 2vw;
}

#download {
  width: 3vw;
  margin-left: 2vw;
}

button:hover {
  background: var(--light);
}

a:hover {
  color: var(--light);
}

/***************************************/
/***            HEADER               ***/
/***************************************/

#navigation {
  display: flex;
  flex-direction: row;
  position: fixed;
}

#navigation a:hover {
  color: var(--black);
}

#splash_logo {
  width: 30vw;
  position: fixed;
  margin-top: 2vh;
}

/***burgermenu***/

svg {
  position: fixed;
  cursor: pointer;
  z-index: 1;
  max-width: 20vw;
  right: 1vw;
  margin-top: 1vh;
}

svg path {
  stroke-width: 40;
  stroke: #fff;
  fill: none;
  transition: all 0.6s ease-in-out;
}

/* burger form */

.top_bar,
.bottom_bar {
  stroke-dasharray: 240px 910px;
}

.middle_bar {
  stroke-dasharray: 240px 240px;
}

/* cross form */

.open .top_bar,
.open .bottom_bar {
  stroke-dashoffset: -650px;
}

.open .middle_bar {
  stroke-dasharray: 0px 220px;
  stroke-dashoffset: -120px;
}

#burgermenu_links {
  background-color: var(--light);
  max-width: 40%;
  height: auto;
  z-index: 0;
  position: fixed;
  right: 0;
  padding: 5vw;
  padding-top: 3vh;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.inactive {
  display: none;
}

#burgermenu_links #burgermenu_options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 4vh;
  justify-content: space-between;
}

#burgermenu_links #burgermenu_options a {
  margin-top: 1vh;
}

#burgermenu_links #some_burgermenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#burgermenu_links #some_burgermenu a {
  text-align: center;
  width: 15%;
}

#burgermenu_links #some_burgermenu img {
  width: 100%;
}

#burgermenu_links a {
  font-size: var(--h1);
}

.dropdown_portfolio {
  position: relative;
  display: inline-block;
  z-index: 2;
  margin-top: 1vh;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: var(--dark);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.dropdown_content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#navigation .dropdown_content a:hover {
  color: var(--white);
  background-color: var(--light);
  transition: all 0.2s ease-out;
}

.dropdown_portfolio:hover .dropdown_content {
  display: block;
  transition: all 0.2s ease-out;
}

/***************************************/
/***            HEADER SLUT          ***/
/***************************************/

/***************************************/
/***            FOOTER               ***/
/***************************************/

footer {
  background-color: var(--dark);
  /* position: absolute; */
  padding-top: 5vh;
  padding-bottom: 5vh;
}

footer a,
footer h1 {
  font-size: var(--footer_a);
  color: var(--white);
}

footer #contact_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer_logo_box {
  display: flex;
  justify-content: center;
  margin-top: 4vh;
  margin-bottom: 2vh;
}

footer #footer_logo {
  width: 40vw;
  place-self: center;
}

footer #some_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer #some_footer #footer_icons {
  display: flex;
  flex-direction: row;
}

footer #some_footer #footer_icons a {
  text-align: center;
}

footer #some_footer img {
  width: 10vw;
  margin-left: 1vw;
  margin-right: 1vw;
}
/***************************************/
/***            FOOTER SLUT          ***/
/***************************************/

/***************************************/
/***              FRONTPAGE          ***/
/***************************************/

#frontpage {
  position: cover;
}

#frontpage #splash {
  background-image: url("images/frontpage.jpg");
  display: flex;
  flex-direction: column;
  background-position: 65%;
  height: 100vh;
}

#frontpage #splash_text {
  position: relative;
  top: 60vh;
  left: 0vw;
}

#frontpage #splash_text p {
  color: var(--white);
  font-family: semplicitapro, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: var(--h1);
  text-shadow: 2px 2px 4px #000000;
}

#frontpage #about_elements {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin-top: 5vh;
}

#frontpage #about_image {
  width: 40vw;
}

#frontpage #about_image img {
  width: 100%;
}

#frontpage #about_contact {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
}

#frontpage #about_contact a {
  text-align: left;
}

#frontpage #about_contact img {
  width: 8vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

#frontpage #about h2 {
  color: var(--dark);
}

#frontpage #resume #column h1 {
  color: var(--white);
}

#frontpage #resume #column {
  background-color: var(--light);
  padding: 3vw;
  margin-top: 5vh;
}

#frontpage #resume #top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#frontpage #resume p {
  color: var(--white);
}

#about,
#resume {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

/***************************************/
/***           FRONTPAGE SLUT        ***/
/***************************************/

/***************************************/
/***       PORTFOLIO MENU            ***/
/***************************************/

#portfolio {
  background-color: var(--light);
}

#portfolio #splash {
  height: 12vh;
}

#portfolio_menu .nav_menu.active {
  background: var(--dark);
}

#portfolio h1 {
  color: var(--white);
}

#portfolio #options {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 10vw;
  margin-bottom: 5vh;
  margin-top: 3vh;
}

#portfolio #option_box {
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  min-height: 30vh;
  align-items: center;
  padding: 10px;
  box-shadow: 2vw -1vh #1f21099c;
}

/***************************************/
/***       PORTFOLIO MENU SLUT       ***/
/***************************************/

/***************************************/
/***         WEBSITES PAGE           ***/
/***************************************/

#websites #splash {
  background-image: url("images/splash_web.jpg");
  background-position: 50%;
}

#websites #splash_text {
  background-color: var(--darkopacity);
  position: relative;
  top: 25vh;
  left: 0vw;
  max-width: 50%;
  padding: 2vh;
}

#websites #project img {
  width: 100%;
}

/***************************************/
/***        WEBSITES PAGE SLUT       ***/
/***************************************/

/***************************************/
/***         GRAPHIC WORK PAGE       ***/
/***************************************/

#graphic_work #splash {
  background-image: url("images/splash_graphic.jpg");
  width: auto;
  background-size: cover;
  background-position: 85%;
}

#graphic_work #splash_text {
  background-color: var(--darkopacity);
  position: relative;
  top: 25vh;
  left: 0vw;
  max-width: 50%;
  padding: 2vh;
}

/***************************************/
/***        GRAPHIC WORK SLUT        ***/
/***************************************/

/***************************************/
/***            PHOTOGRAPHY PAGE       */
/***************************************/

#photography #splash {
  background-image: url("images/splash_photo.jpg");
  width: auto;
  background-size: cover;
  background-position: 40%;
}

#photography #splash_text {
  background-color: var(--darkopacity);
  position: relative;
  top: 25vh;
  left: 0vw;
  max-width: 50%;
  padding: 2vh;
}

#photography #project .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
#photography #project .photos {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1vw;
  margin-bottom: 5vh;
  margin-top: 3vh;
}

#photography #project .photos img {
  vertical-align: middle;
  width: 100%;
}

/***************************************/
/***        PHOTOGRAPHY SLUT         ***/
/***************************************/

/***************************************/
/***            OTHER PAGE           ***/
/***************************************/

#other #splash {
  background-image: url("images/splash_other.jpg");
  background-position: 70%;
}

#other #splash_text {
  background-color: var(--darkopacity);
  position: relative;
  top: 25vh;
  left: 0vw;
  max-width: 50%;
  padding: 2vh;
}

#other #project img {
  width: 100%;
}

/***************************************/
/***        OTHER PAGE SLUT          ***/
/***************************************/

/****************************************************************MEDIA Q*********************************************************/

/*flipped phone*/
@media screen and (min-width: 600px) {
  /*****GENEREL*****/

  #arrow {
    width: 4vw;
  }

  #download {
    width: 2.5vw;
  }

  svg {
    max-width: 15vw;
  }

  #splash_logo {
    width: 20vw;
  }

  button {
    padding: 1vw;
  }

  /******FOOTER******/

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  footer #some_footer img {
    width: 3.5vw;
  }

  footer #footer_logo {
    width: 20vw;
  }

  /*****FONTS*******/

  /****FRONTPAGE*****/

  #frontpage #splash_text {
    top: 55vh;
  }

  #frontpage #about {
    display: flex;
    flex-direction: row;
  }

  #frontpage #about_elements {
    flex-direction: column-reverse;
    margin-left: 10vw;
    justify-content: center;
    align-items: center;
  }

  #frontpage #about_image {
    width: 25vw;
  }

  #frontpage #about_contact {
    flex-direction: row;
    margin-top: 10vh;
  }

  #frontpage #about_contact img {
    width: 4vw;
  }

  #frontpage #resume_columns {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 5vw;
    margin-bottom: 5vh;
    margin-top: 3vh;
  }
  /*****PORTFOLIO***/

  #portfolio #options {
    grid-gap: 5vw;
  }

  #portfolio #option_box {
    box-shadow: 1vw -2vh #1f21099c;
  }

  #portfolio section:nth-of-type(2) {
    margin-top: 10vh;
  }

  #portfolio section:last-of-type {
    margin-bottom: 15vh;
  }

  /*****WEBSITES*****/

  #websites #splash_text {
    max-width: 60%;
  }

  #websites #content_box {
    display: flex;
    flex-direction: row;
  }

  #websites #content_box #project_description {
    max-width: 50%;
  }

  #websites #content_box #project_image {
    margin-left: 5vw;
    width: 50%;
  }

  /****GRAPHIC WORK*****/

  #graphic_work #splash_text {
    max-width: 60%;
  }

  /*****PHOTOGRAPHY****/
  #photography #splash_text {
    max-width: 60%;
  }

  #photography #project .photos {
    grid-template-columns: 2fr 2fr;
  }

  /****OTHER****/

  #other #splash_text {
    max-width: 60%;
  }

  #other #content_box {
    display: flex;
    flex-direction: row;
  }

  #other #content_box #project_description {
    max-width: 50%;
  }

  #other #content_box #project_image {
    margin-left: 5vw;
    width: 50%;
  }
}

/*IPad vertical*/
@media screen and (min-width: 750px) {
  /*****GENEREL*****/

  #splash_logo {
    width: 30vw;
  }

  /******FOOTER******/

  /*****FONTS*******/

  /****FRONTPAGE*****/

  #frontpage #about_contact {
    flex-direction: column;
    margin-top: 5vh;
  }

  #frontpage #about_contact img {
    width: 5vw;
    margin-top: 1vh;
  }

  #frontpage #resume_columns {
    margin-top: 0;
  }

  /*****PORTFOLIO***/
  #portfolio #options {
    grid-gap: 10vw;
  }

  #portfolio #option_box {
    box-shadow: 2vw -2vh #1f21099c;
  }

  #portfolio h1 {
    margin-bottom: 5vh;
  }

  #portfolio section:nth-of-type(2) {
    margin-top: 5vh;
  }

  #portfolio section:last-of-type {
    margin-bottom: 10vh;
  }

  /*****WEBSITES*****/
  #websites #splash_text {
    max-width: 50%;
  }

  #websites #content_box {
    align-items: center;
  }

  /****GRAPHIC WORK*****/
  #graphic_work #splash_text {
    max-width: 50%;
  }
  /*****PHOTOGRAPHY****/
  #photography #splash_text {
    max-width: 50%;
  }
  /****OTHER****/
  #other #splash_text {
    max-width: 50%;
  }
}

/*Mediaq to help with the font problem between horizontal phone and vertical ipad, because the pixel-size overlap*/
@media screen and (min-width: 820px) {
  /*****FONTS******/
  h1,
  #burgermenu_links a,
  #frontpage #splash_text p {
    font-size: var(--h1_700px);
  }

  h2 {
    font-size: var(--h2_700px);
  }

  button {
    font-size: var(--button_700px);
  }

  p {
    font-size: var(--p_700px);
  }

  a,
  footer a,
  footer h1 {
    font-size: var(--footer_a_700px);
  }
}

/*IPad horizontal*/
@media screen and (min-width: 1000px) {
  /*****PORTFOLIO***/

  #portfolio #options {
    grid-gap: 5vw;
  }

  #portfolio section:nth-of-type(2) {
    margin-top: 10vh;
  }

  /*****FOOTER*****/

  footer {
    align-items: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
  }
}

/*laptop 1280 x 800*/
@media screen and (min-width: 1200px) {
  /*****GENEREL*****/

  #splash_logo {
    width: 15vw;
    margin-top: 3.5vh;
  }

  #splash {
    height: 70vh;
  }

  svg {
    max-width: 10vw;
  }

  #burgermenu_links #some_burgermenu a {
    width: 10%;
  }

  #burgermenu_links {
    max-width: 20%;
  }

  #arrow {
    width: 2vw;
  }

  #download {
    width: 1vw;
  }

  button {
    min-width: 10vw;
  }

  section {
    padding-left: 10vw;
    padding-right: 10vw;
  }

  #seperation_bar {
    width: auto;
  }

  #project {
    margin-top: 3vh;
    margin-bottom: 3vh;
  }

  #project:last-of-type {
    margin-bottom: 10vh;
  }

  /******FOOTER******/
  footer #some_footer img {
    width: 2.5vw;
  }
  footer #some_footer img {
    width: 2.5vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
  }

  /*****FONTS******/
  h1,
  #burgermenu_links a {
    font-size: var(--h1_1200px);
  }

  h2 {
    font-size: var(--h2_1200px);
  }

  button {
    font-size: var(--button_1200px);
  }

  p {
    font-size: var(--p_1200px);
  }

  a,
  footer a,
  footer h1 {
    font-size: var(--footer_a_1200px);
  }

  #frontpage #splash_text p {
    font-size: var(--splash_text_1200px);
  }

  #frontpage #splash button {
    font-size: var(--splash_button_1200px);
  }

  /****FRONTPAGE*****/

  #frontpage #splash {
    padding-left: 5vw;
    padding-right: 5vw;
    height: 100vh;
    padding-bottom: 0;
    padding-top: 0;
  }

  #frontpage #splash_text {
    top: 40vh;
  }

  #frontpage #about_elements {
    flex-direction: row;
    align-items: flex-start;
  }

  #frontpage #about_contact img {
    width: 3vw;
  }

  #frontpage #about_image {
    width: 17vw;
    margin-left: 5vw;
  }

  #frontpage #resume_columns {
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-gap: 2vw;
  }

  #frontpage #resume #column {
    padding: 2vw;
  }

  #frontpage #about,
  #frontpage #resume {
    margin-top: 10vh;
    margin-bottom: 10vh;
  }

  #frontpage #resume {
    margin-bottom: 15vh;
  }

  /*****PORTFOLIO***/

  #portfolio section:nth-of-type(2) {
    margin-top: 10vh;
  }
  #portfolio section:last-of-type {
    margin-bottom: 15vh;
  }

  /*****PHOTOGRAPHY****/

  #photography #project .photos {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*laptop 1440 x 900*/
@media screen and (min-width: 1420px) {
}

/*****GENEREL*****/

/******FOOTER******/

/*****FONTS*******/

/****FRONTPAGE*****/

/*****PORTFOLIO***/

/*****WEBSITES*****/

/****GRAPHIC WORK*****/

/*****PHOTOGRAPHY****/

/****OTHER****/

/* Create four equal columns that sits next to each other */
/* #photography #project .column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

#photography #project .column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
} */

/* Responsive layout - makes a two column-layout instead of four columns */
/* @media screen and (max-width: 800px) {
  #photography #project .column {
    flex: 50%;
    max-width: 50%;
  }
} */

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 600px) {
  #photography #project .column {
    flex: 100%;
    max-width: 100%;
  }
} */
