:root {
  --dark: #1f2109;
  --light: #595b46;
  --white: #ffffff;
  --black: #000000;
  --h1: 5vw;
  --h2: 4vw;
  --p: 3.5vw;
  --a: 2.5vw;
  --button: 3vw;
  --footer_a: 3.5vw;
}

/***************************************/
/***           FONT SIZES            ***/
/***************************************/

h1 {
  color: var(--black);
  font-family: grad, serif;
  font-weight: 700;
  font-style: normal;
  font-size: var(--h1);
}

h3 {
  color: var(--white);
  font-family: grad, serif;
  font-weight: 700;
  font-style: normal;
}

p {
  color: var(--black);
  font-family: semplicitapro, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: var(--p);
}

a {
  color: var(--white);
  font-family: semplicitapro, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: var(--a);
}

button {
  background-color: var(--dark);
  color: var(--white);
  font-family: grad, serif;
  font-weight: 700;
  font-style: normal;
  font-size: var(--button);
}

/***************************************/
/***          FONT SIZES SLUT          */
/***************************************/

body {
  background-color: var(--white);
  background-size: cover;
  margin: 0;
}

#separation_bar {
  height: 2vh;
  width: 100vw;
  background-color: var(--dark);
}

section {
  padding-left: 5vw;
  padding-right: 5vw;
}

#project {
  background-color: var(--white);
}

#project h1,
#project p {
  color: var(--black);
}

img {
  max-width: 50%;
}

/***************************************/
/***            HEADER               ***/
/***************************************/

#contact_bar {
  background-color: var(--dark);
  position: sticky;
  display: flex;
  justify-content: space-between;
}

#contact_bar img {
  position: relative;
  width: 7vw;
  height: auto;
  margin: 1vw;
}

/* #contact_bar #some_contact_bar {
  margin-left: 2vw;
}

#contact_bar #info_contact_bar {
  margin-right: 2vw;
} */

#splash_logo {
  width: 30vw;
}

/***burgermenu***/
.menu_toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: var(--white);
  display: block;
  cursor: pointer;
}

.nav_menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  /* padding-top: 15vh; */
}

.nav_menu #burgermenu_logo {
  display: flex;
  justify-content: center;
}

.nav_menu #burgermenu_options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav_menu #some_burgermenu {
  display: flex;
  flex-direction: row;
}

.nav_menu #some_burgermenu img {
  width: 14vw;
}

.nav_menu.active {
  background: var(--light);
  right: 0;
  /*   transition: all 0.5s ease; */
  opacity: 100;
  width: 50vw;
}

#navbar {
  width: 100%;
  display: flex;
  justify-content: center;
}

#burger_menu {
  position: absolute;
  top: 10vw;
  right: 6vw;
  transform: translate(5%, 20%);
  z-index: 1;
  color: var(--white);
}

.menu_toggle:hover {
  cursor: pointer;
}

#burger_menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#burger_menu.is-active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

#burger_menu.is-active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/***************************************/
/***            HEADER SLUT          ***/
/***************************************/

/***************************************/
/***            FOOTER               ***/
/***************************************/

footer {
  background-color: var(--dark);
  /* position: absolute; */
  width: 100vw;
}

footer a {
  font-size: var(--footer_a);
}
/***************************************/
/***            FOOTER SLUT          ***/
/***************************************/

/***************************************/
/***              FRONTPAGE          ***/
/***************************************/

#frontpage {
  z-index: -5;
  position: cover;
}

#frontpage #splash {
  background-image: url("images/frontpage.jpg");
  width: auto;
  height: 80vh;
  background-size: cover;
  background-position: 65%;
}

#frontpage #splash_text {
  place-self: flex-end;
}

#frontpage #splash_text p {
  color: var(--white);
  font-family: semplicitapro, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 5vw;
}

#frontpage #bottom_column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#frontpage #bottom_column p {
  place-self: center;
}

#frontpage #column h1 {
  color: var(--white);
}

#frontpage #column {
  background-color: var(--dark);
}

#frontpage #contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#frontpage #contact #info_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#frontpage #contact h2,
#contact a {
  color: var(--black);
}

#frontpage #contact a {
  font-size: var(--footer_a);
}

#frontpage #contact_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#frontpage #contact_some {
  display: flex;
  justify-content: center;
}

#frontpage #contact_some img {
  width: 30vw;
}

#about,
#resume,
#contact {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

/***************************************/
/***           FRONTPAGE SLUT        ***/
/***************************************/

/***************************************/
/***       PORTFOLIO MENU            ***/
/***************************************/

#portfolio_menu .nav_menu.active {
  background: var(--dark);
}

#portfolio_menu {
  background-color: var(--light);
}

/***************************************/
/***       PORTFOLIO MENU SLUT       ***/
/***************************************/

/***************************************/
/***         WEBSITES PAGE           ***/
/***************************************/

#websites #splash {
  background-image: url("images/splash_web.jpg");
  width: auto;
  height: 80vh;
  background-size: cover;
  background-position: 65%;
}

#websites #splash_text {
  background-color: var(--dark);
  opacity: 75%;
}
/***************************************/
/***        WEBSITES PAGE SLUT       ***/
/***************************************/

/***************************************/
/***         GRAPHIC WORK PAGE       ***/
/***************************************/

#graphic_work #splash {
  background-image: url("images/splash_graphic.jpg");
  width: auto;
  height: 80vh;
  background-size: cover;
  background-position: 65%;
}

#graphic_work #splash_text {
  background-color: var(--dark);
  opacity: 75%;
}

/***************************************/
/***        GRAPHIC WORK SLUT        ***/
/***************************************/

/***************************************/
/***            PHOTOGRAPHY PAGE       */
/***************************************/

#photography #splash {
  background-image: url("images/splash_photo.jpg");
  width: auto;
  height: 80vh;
  background-size: cover;
  background-position: 65%;
}

#photography #splash_text {
  background-color: var(--dark);
  opacity: 75%;
}

/***************************************/
/***        PHOTOGRAPHY SLUT         ***/
/***************************************/

/***************************************/
/***            OTHER PAGE           ***/
/***************************************/

#other #splash {
  background-image: url("images/splash_other.jpg");
  width: auto;
  height: 80vh;
  background-size: cover;
  background-position: 65%;
}

#other #splash_text {
  background-color: var(--dark);
  opacity: 75%;
}

/***************************************/
/***        OTHER PAGE SLUT          ***/
/***************************************/
